<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>

            <div class="container">
                <%- include("./partials/side-menu.ejs") %>
                    <div class="content">
                        <div class="blog" id="1234567890">
                            <div class="heading"><h2>My First Blog</h2><span><%= user.username %></span></div>
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid culpa doloremque incidunt totam, neque minima rem aut voluptas maxime excepturi amet voluptatibus voluptate!</div>
                            <div class="review"><button><i class="fa-solid fa-arrow-turn-up"></i>Upvote<span>30</span></button><button><i class="fa-solid fa-arrow-turn-down"></i>Downvote<span>30</span></button><button><i class="fa-regular fa-comments"></i>Comment<span>30</span></button></div>
                        </div>
                        <div class="blog" id="1234567890">
                            <div class="heading"><h2>My First Blog</h2><span><%= user.username %></span></div>
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid culpa doloremque incidunt totam, neque minima rem aut voluptas maxime excepturi amet voluptatibus voluptate!</div>
                            <div class="review"><button><i class="fa-solid fa-arrow-turn-up"></i>Upvote<span>30</span></button><button><i class="fa-solid fa-arrow-turn-down"></i>Downvote<span>30</span></button><button><i class="fa-regular fa-comments"></i>Comment<span>30</span></button></div>
                        </div>
                        <div class="blog" id="1234567890">
                            <div class="heading"><h2>My First Blog</h2><span><%= user.username %></span></div>
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid culpa doloremque incidunt totam, neque minima rem aut voluptas maxime excepturi amet voluptatibus voluptate!</div>
                            <div class="review"><button><i class="fa-solid fa-arrow-turn-up"></i>Upvote<span>30</span></button><button><i class="fa-solid fa-arrow-turn-down"></i>Downvote<span>30</span></button><button><i class="fa-regular fa-comments"></i>Comment<span>30</span></button></div>
                        </div>
                       
                    </div>
            </div>
           
    </body>